[submodule "first_app"]
	path = first_app
	url = https://github.com/najoan125/first_app.git
[submodule "second_app"]
	path = second_app
	url = https://github.com/najoan125/second_app.git
[submodule "third_app"]
	path = third_app
	url = https://github.com/najoan125/third_app.git
[submodule "jsp_til"]
	path = jsp_til
	url = https://github.com/najoan125/jsp_til.git
